@font-face {
    font-family: "matahari extended 400";
    src: url(../matagari_font/MatahariExtended-400ExtReg.ttf);
}
@font-face {
    font-family: "matahari extended 600";
    src: url(../matagari_font/MatahariExtended-600ExtSemBd.ttf);
}
@font-face {
    font-family: "matahari extended 700";
    src: url(../matagari_font/MatahariExtended-700ExtBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "matahari extended 400";
}

body {
    background-color: #2A2828;
    color: white;
}

html {
    font-size: 62.5%;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 100%;
}

.hl {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin: 20px 8px 20px 8px;
}

.wrapper {
    display: flex;
    position: relative;
}

/* SIDEBAR */

.wrapper .sidebar ul {
    padding: 40px 0 0 0;
}

.wrapper .sidebar ul li {
    padding: 10px 0;
}

.sidebar .button-hs {
    margin-bottom: 30px;
}

.wrapper .sidebar{
    position: fixed;
    width: 300px;
    height: 100%;
    background: #2A2828;
    padding: 30px 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.wrapper .sidebar img {
    width: 200px;
    height: auto;
    margin: 0 auto;
    display: flex;
}

.wrapper .sidebar ul li a{
    padding: 18px;
    border: 1px solid rgba(255, 255, 255, 0.201);
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    display: block;
    font-size: 14px;
    text-align: center;
}

.button-hs {
    padding: 10px 50px;
    border: 1px solid rgba(255, 255, 255, 0.201);
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    background-color: rgba(196, 196, 196, 0.05);
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vl {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    height: 30px;
}

.button-hs a:hover {
    color: #3683F7;;
}

.button-nm {
    background-color: rgba(85, 140, 120, 0.2);
}

.button-nm:hover {
    background-color: rgba(85, 140, 120, 0.5);
}

.button-am {
    background-color: rgba(66, 147, 192, 0.15);
}

.button-am:hover {
    background-color: rgba(66, 147, 192, 0.5);
}

.button-ds {
    background-color: rgba(120, 45, 141, 0.1);
}

.button-ds:hover {
    background-color: rgba(120, 45, 141, 0.3);
}

/* MAIN CONTENT */

.main_content nav {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .main_content {
    width: 100%;
    margin-left: 320px;    
}

.arrows {
    display: flex;
}

.arrows a {
    background-color: transparent ;
    width: 30px;
    height: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20%;
    margin-right: 10px;
}

.right-nav .search{
    background-color: transparent ;
    width: 30px;
    height: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20%;
}

.right-nav {
    display: flex;
}

.account img {
    height: 42px;
    padding: 0 10px;
}

/* MIXES */

.mixes h1 {
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 3rem;
}

.mix-grid {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px 250px;
    grid-gap: 15px 50px;
}

.mix-1 {
    background-image: url(../images/mix-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 250px;
}

.mix-2 {
    background-image: url(../images/mix-2.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 250px;
}

.mix-3 {
    background-image: url(../images/mix-3.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 250px;
}

.mix-4 {
    background-image: url(../images/mix-4.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 250px;
}

.mix-5 {
    background-image: url(../images/mix-5.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 250px;
}



.feat-grid {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px 250px;
    grid-gap: 15px 50px;
}

.feat-1 {
    background-image: url(../images/feat-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 250px;
}

.feat-2 {
    background-image: url(../images/feat-2.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 250px;
}

.feat-3 {
    background-image: url(../images/feat-3.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 250px;
}

.feat-4 {
    background-image: url(../images/feat-4.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 250px;
}

.feat-5 {
    background-image: url(../images/feat-5.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 250px;
}












/* BOTTOM MUSIC PLAYER */

.bottombar {
    background-color: #2A2828;
    width: 100%;
    min-height: 110px;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.200);
}

.container-audio {
    width: 66%;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    color: rgb(248, 1, 1);
    margin: 20px auto;
    overflow: hidden;
}
audio {
  width:100%;
}
