@font-face {
    font-family: "matahari extended 400";
    src: url(../matagari_font/MatahariExtended-400ExtReg.ttf);
}
@font-face {
    font-family: "matahari extended 600";
    src: url(../matagari_font/MatahariExtended-600ExtSemBd.ttf);
}
@font-face {
    font-family: "matahari extended 700";
    src: url(../matagari_font/MatahariExtended-700ExtBold.ttf);
}

body {
    margin: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #2A2828;
    font-family: "matahari extended 400";
    color: white;
}

html {
    font-size: 62.5%;;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #3554A7;
}

img {
    width: 100%;
}

.nav-container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px 20px;
    margin-bottom: 2vh;
}

nav {
    display: flex;
    justify-content:space-between ;
    align-items: center;
    margin: 20px;
}

.nav-links li {
    font-family: "matahari extended 400";
    list-style: none;
    display: inline;
    align-items: center;
    padding: 0 0 0 60px;
    font-size: 1.8rem;
}

.nav-links a{
    color: white;
}

.img-container {
    position: absolute;
    z-index: -1;
    margin: 0 auto;
    padding: 0 20px 0 0;
    max-width: 1140px;
}

.head-container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

/* GRID */

.grid-container {
    padding-top: 28vh;
}

.lp-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
}

/* .lp-grid div {
    background-color: rgba(255, 255, 255, 0.29);
}  */

.lp-grid .img {
    height: 200px;
}

.spin-text {
    display: flex;
    justify-self: right;
    align-self: center;
    margin-right: 60px;
}

.statement {
    font-family: "matahari extended 400";
    font-size: 2rem;
    max-width: 450px;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    justify-self: right;
    align-items: flex-start;
    padding-right: 10px;
    margin-top: 53px;
}

/* ANIMATION */

.rotate {
    animation: rotation 5.2s;
}

.linear {
    animation-timing-function: linear;
}

.infinite {
    animation-iteration-count: infinite;
}

@keyframes rotation {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(359deg);
    }
}

/* ABOUT LEARN MORE - SECTION */

.section-container {
    background-color: #DCDEDC;
    margin-top: 10vh;
    color: black;
}

.aboutone-container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.aboutone-container h1 {
    font-size: 8rem;
    padding: 9vh 0 5vh 0;
    margin: 0;
}

.learn-container {
    padding-bottom: 13vh;
}

.learn-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 6vh;
    height: 350px;
    border-radius: 35px;
}

.learn-grid div {
    background-color: rgba(0, 0, 0, 0.13);
}

.learnbox-1 {
    border-radius: 7%;
}

.learnbox-2 {
    border-radius: 7%;
}

.learnbox-3 {
    border-radius: 7%;
}