:root {
    --fnt-primary-300: #ffffff;
}

@font-face {
    font-family: "matahari extended 400";
    src: url(../matagari_font/MatahariExtended-400ExtReg.ttf);
}
@font-face {
    font-family: "matahari extended 600";
    src: url(../matagari_font/MatahariExtended-600ExtSemBd.ttf);
}
@font-face {
    font-family: "matahari extended 700";
    src: url(../matagari_font/MatahariExtended-700ExtBold.ttf);
}

html {
    font-size: 62.5%;;
}

body {
    margin: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #2A2828;
    font-family: "matahari extended 400";
    color: white;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #3554A7;
}

img {
    width: 100%;
}

.nav-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 20px;
    margin-bottom: 2vh;
}

nav {
    display: flex;
    justify-content:space-between ;
    align-items: center;
    margin: 20px;
}

.nav-links li {
    font-family: "matahari extended 400";
    list-style: none;
    display: inline;
    align-items: center;
    padding: 0 0 0 60px;
    font-size: 1.8rem;
}

.nav-links a{
    color: white;
}

.img-container {
    position: absolute;
    z-index: -1;
    margin: 0 auto;
    padding: 0 20px 0 0;
    max-width: 1400px;
}

.head-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.head-text h1 {
    font-family: "matahari extended 700";
    padding-top: clamp(40px, 10vw, 120px);
    padding-left: clamp(40px, 10vw, 120px);
    font-size: clamp(5rem, 8vw, 13rem);
    margin: 0;
}

.head-text h2 {
    padding: 0 0 0 50px;
    font-size: clamp(1.6rem, 3vw, 2.8rem);
    padding-left: clamp(40px, 10vw, 120px);
    margin: 0;
}

.follow-text {
    margin-top: clamp(80px, 4vh, 700px);
    font-size: clamp(1.4rem, 2vw, 1.8rem);
}


